/* Print Protection - Hide all content when printing or saving as PDF */
@media print {

    html,
    body {
        display: none !important;
        height: 0 !important;
        overflow: hidden !important;
        visibility: hidden !important;
    }

    * {
        display: none !important;
    }
}